<!DOCTYPE html>
<html>
     <head>
          <title>{{ title }}</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
               integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
          <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
          {% block scripts %}
          {% endblock %}
     </head>

     <body>
          <h1>{{ title }}</h1>
          {% block body %}
          {% endblock %}
     </body>
</html>